.authActions {
  display: flex;
  align-items: center;
  gap: 8px;

  & .profilePicture {
    width: 35px;
    height: 35px;
    border-radius: 9999px;
  }

  & .logoutLink {
    font-size: 0.75em;

    & a {
      color: inherit !important;
      text-decoration: none;
    }
  }
}